h2{
    margin: 0 auto;
    text-align: center;
}
button{
    width: 160px;
    margin-left:350px;
    margin-right: 20px;
    margin-top: 10px;
}
#score{
    position: absolute;
    top:20px;
    left: 20px;
}
#highest{
    position: absolute;
    top:40px;
    left:20px;
}
#pic{
    position: absolute;
    height: 800px;
    right: 50px;
    top: 0;
}